<div class="text-center m-2">
  <a class="btn btn-sm" asp-controller="Home">Home</a>
  <a class="btn btn-secondary btn-sm" asp-area="" asp-page="/Landing">Level 1</a>
  <a class="btn btn-secondary btn-sm" asp-area="" asp-page="/Store">Level 2</a>
  <a class="btn btn-secondary btn-sm" asp-area="" asp-page="/Admin">Level 3</a>
</div>
